.header {
    margin-top: 20px;
    text-align: center;
}

.lead {
    text-align: center;
}

#alert-text {
    text-align: center;
}

.search-superheros-header{
    margin-bottom: 10px;
    text-align: center;
}

.container-search-form {
    text-align: center;
}

/* forms styles */
#formOne{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 21pt;
}

#buttonOne {
    background-color: black;
    color: white;
    border: 0;
    box-shadow: none;
    border-radius: 0px; 
}

/* card styles */
.card-container {
    display: block;
    text-align: center;
}

#cardOne {
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: black 0 0 10px;
}


/* table styles */

.back-container {
    display: block;
    text-align: center;
}

.back-button {
    display: inline-block;
    margin-bottom: 20px;
}

.favorites-superheros-header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.table-image {
    height: 200px;
    width: auto;
    display: flex;
    box-shadow: black 0 0 10px;
    
}

.image-table-name {
    display: flex;
    font-size: large;
}

#table-button {
    box-shadow: black 0 0 10px; 
}