{% extends 'base.html' %}

{% block content %}
<!-- text above form -->
<div class="favorites-superheros-header">
    <h1 class= 'display-3'>Favorites</h1>
</div>

<!-- Go Back Button -->
<div class="back-container">
    <form  class='back-button'>              
        <a href="/" id='backButton' class="btn btn-primary">Go Back</a>
    </form>
</div>
    
<!-- Favorites Table -->
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <th>Image</th>
                <th>Remove</th>
            </thead>
            <tbody>
                {% for superhero in superheros %}

                <tr>
                    <td><img src="{{superhero.image}}" alt="{{superhero.name}}" class="table-image">
                        {{superhero.name}}
                    </td>
                    <td><button id="table-button"  class='delete-superhero btn btn-danger' data-id="{{superhero.id}}">Delete Favorite</button></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}